OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/6faf89cf-56f7-4589-ab82-3a5ebc0bc72f.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/b39cbce8-078f-46a1-bda0-c416a2e259d1.vsidx
OpenCVTracking/.vs/OpenCVTracking/v17/Browse.VC.db
OpenCVTracking/.vs/OpenCVTracking/v17/Browse.VC.db-shm
OpenCVTracking/.vs/OpenCVTracking/v17/Browse.VC.db-wal
OpenCVTracking/.vs/OpenCVTracking/v17/Browse.VC.opendb
OpenCVTracking/.vs/OpenCVTracking/v17/ipch/AutoPCH/76bbf5e22534b9f/TEST.ipch
OpenCVTracking/OpenCVTracking.sln
OpenCVTracking/OpenCVTracking/OpenCVTracking.vcxproj
OpenCVTracking/OpenCVTracking/OpenCVTracking.vcxproj.filters
OpenCVTracking/OpenCVTracking/OpenCVTracking.vcxproj.user
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/3c983859-3c31-46b2-8e44-29a676b2c7c8.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/a1642702-a651-4da1-bb63-830ccaeb17d2.vsidx
OpenCVTracking/.vs/OpenCVTracking/v17/.suo
OpenCVTracking/.vs/OpenCVTracking/v17/DocumentLayout.backup.json
OpenCVTracking/.vs/OpenCVTracking/v17/DocumentLayout.json
OpenCVTracking/OpenCVTracking/Test.cpp
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.log
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/CL.command.1.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/CL.read.1.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/CL.write.1.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/link.command.1.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/link.read.1.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/link.write.1.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/OpenCVTracking.lastbuildstate
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/unsuccessfulbuild
OpenCVTracking/OpenCVTracking/x64/Debug/Test.obj
OpenCVTracking/OpenCVTracking/x64/Debug/vc143.idb
OpenCVTracking/OpenCVTracking/x64/Debug/vc143.pdb
