OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/6faf89cf-56f7-4589-ab82-3a5ebc0bc72f.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/b39cbce8-078f-46a1-bda0-c416a2e259d1.vsidx
OpenCVTracking/.vs/OpenCVTracking/v17/Browse.VC.db
OpenCVTracking/.vs/OpenCVTracking/v17/Browse.VC.db-shm
OpenCVTracking/.vs/OpenCVTracking/v17/Browse.VC.db-wal
OpenCVTracking/.vs/OpenCVTracking/v17/Browse.VC.opendb
OpenCVTracking/.vs/OpenCVTracking/v17/ipch/AutoPCH/76bbf5e22534b9f/TEST.ipch
OpenCVTracking/OpenCVTracking.sln
OpenCVTracking/OpenCVTracking/OpenCVTracking.vcxproj
OpenCVTracking/OpenCVTracking/OpenCVTracking.vcxproj.filters
OpenCVTracking/OpenCVTracking/OpenCVTracking.vcxproj.user
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/3c983859-3c31-46b2-8e44-29a676b2c7c8.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/a1642702-a651-4da1-bb63-830ccaeb17d2.vsidx
OpenCVTracking/.vs/OpenCVTracking/v17/.suo
OpenCVTracking/.vs/OpenCVTracking/v17/DocumentLayout.backup.json
OpenCVTracking/.vs/OpenCVTracking/v17/DocumentLayout.json
OpenCVTracking/OpenCVTracking/Test.cpp
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.log
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/CL.command.1.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/CL.read.1.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/CL.write.1.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/link.command.1.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/link.read.1.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/link.write.1.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/OpenCVTracking.lastbuildstate
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/unsuccessfulbuild
OpenCVTracking/OpenCVTracking/x64/Debug/Test.obj
OpenCVTracking/OpenCVTracking/x64/Debug/vc143.idb
OpenCVTracking/OpenCVTracking/x64/Debug/vc143.pdb
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/c47b0141-a432-4224-9e28-343da2456ce9.vsidx
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.exe.recipe
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.ilk
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/Cl.items.tlog
OpenCVTracking/OpenCVTracking/x64/Debug/OpenCVTracking.tlog/link.secondary.1.tlog
OpenCVTracking/x64/Debug/OpenCVTracking.exe
OpenCVTracking/x64/Debug/OpenCVTracking.pdb
OpenCVTracking/.vs/OpenCVTracking/v17/ipch/AutoPCH/e7be067ae38b44d9/WEBCAM_TEST.ipch
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/64d77ce4-dada-49ee-bb5f-b10b94d93ab1.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/d15a2abe-90e9-4ef6-a77c-32f67d64c32d.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/e0e965e5-48e2-4bb0-b050-82dfc2db625d.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/ef68585f-5b45-457f-818d-4d77e8ffb5db.vsidx
OpenCVTracking/.vs/OpenCVTracking/v17/ipch/AutoPCH/2e0a8c98c888d3d8/BASICKFUNCTION.ipch
OpenCVTracking/.vs/OpenCVTracking/v17/ipch/AutoPCH/7c8208c7e2ceb7c/VIDEO.ipch
OpenCVTracking/OpenCVTracking/x64/Debug/BasickFunction.obj
OpenCVTracking/OpenCVTracking/x64/Debug/Video.obj
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/dae580f6-72cc-4f21-8e45-bd1fdb605429.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/c1de49e6-5a16-492a-b9b0-4a97a94c5ab3.vsidx
OpenCVTracking/OpenCVTracking/x64/Debug/webcam_test.obj
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/142133f5-906a-40e3-9fd5-bfa5e263cb88.vsidx
OpenCVTracking/.vs/OpenCVTracking/v17/ipch/AutoPCH/7e15c4be41ce1a69/COLOR_BALL_TRACKER.ipch
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/ea14f0d7-22ca-4c5d-8505-72c958900663.vsidx
OpenCVTracking/OpenCVTracking/x64/Debug/color_ball_tracker.obj
OpenCVTracking/.vs/OpenCVTracking/v17/ipch/AutoPCH/e39ce59df08379bb/OPENCV_TRACKER_DEMO.ipch
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/f726ef13-6ca3-4ff7-a032-a8537d690767.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/865a65ee-b0fe-4d89-9b83-0268fce9b2d8.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/76518bfd-711a-4e61-9e94-0d77e779a3c2.vsidx
OpenCVTracking/OpenCVTracking/color_ball_tracker.cpp
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/1ecd11d3-b4df-4423-87ba-9931c699a1c0.vsidx
OpenCVTracking/OpenCVTracking/color_ball_tracker.cpp
OpenCVTracking/OpenCVTracking/color_ball_tracker.cpp
OpenCVTracking/OpenCVTracking/color_ball_tracker.cpp
OpenCVTracking/OpenCVTracking/color_ball_tracker.cpp
OpenCVTracking/OpenCVTracking/color_ball_tracker.cpp
OpenCVTracking/OpenCVTracking/color_ball_tracker.cpp
.vs/slnx.sqlite
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/6ce1d093-e587-4803-8a21-bf8a2b5cf6f1.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/a99c9da8-44ff-40e5-9cb4-d941c767e3c8.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/bbafe5ac-2806-429b-8c75-66fbe223d53a.vsidx
OpenCVTracking/.vs/OpenCVTracking/v17/ipch/AutoPCH/7f01d2ca6fea3fcd/MULTI_COLOR_TRACKER.ipch
OpenCVTracking/.vs/OpenCVTracking/v17/Solution.VC.db
OpenCVTracking/OpenCVTracking/x64/Debug/multi_color_tracker.obj
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/8356cef7-fbe8-4174-a88b-b13b7d965223.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/6a410cba-be72-493a-8934-2eb4e689fef8.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/93c96aef-d2bb-42cb-8d28-ff64e684559b.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/9dc4ed2f-6ca8-4b38-bec0-25ab901e9b63.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/c1cab493-7291-45a1-804d-ca9cf7347b04.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/c959d9cf-c148-48f0-8ed3-2cb44eac23f9.vsidx
OpenCVTracking/.vs/OpenCVTracking/v17/ipch/AutoPCH/71d1fc36450f9edc/PONG_COLORTEST_SIMPLEGAME.ipch
OpenCVTracking/OpenCVTracking/x64/Debug/Pong_ColorTest_SimpleGame.obj
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/edaa87d1-9e50-4c83-9ed3-cad5d2918404.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/a67b29d3-b558-41e7-8b64-16a2240ba85d.vsidx
OpenCVTracking/.vs/OpenCVTracking/v17/ipch/AutoPCH/5fef583cedea0748/KALMAN_BALL_TRACKER.ipch
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/e882debc-4095-4d74-bcd5-a259558717f0.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/44987a67-1c6d-40ee-8280-4c541f290152.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/5e3f869f-33d5-4cc4-8df1-6aab13ca935a.vsidx
OpenCVTracking/.vs/OpenCVTracking/FileContentIndex/81eb160b-316a-4669-8306-8e75a6b9dfb8.vsidx
OpenCVTracking/OpenCVTracking/x64/Debug/kalman_ball_tracker.obj
